{% extends 'base.html.twig' %}

{% block title %}Hello NotificationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Activer le notification</h1>

    <button id="notify-btn" >Activer les notifications</button>
    <button id="open-notif" >Declenché notification</button>
</div>


<script>

    const publicVapidKey = '{{ vapid_public_key }}';

    document.getElementById('open-notif').addEventListener('click', async() =>{
        await fetch('{{path('app_send_notification')}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
    })

    document.getElementById('notify-btn').addEventListener('click', async () => {
        if('serviceWorker' in navigator && 'PushManager' in window){
            const register = await navigator.serviceWorker.register('/sw.js', {
                scope: '/'
            });

            console.log('Service Worker registered');

            const subscription = await register.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey: urlBase64ToUint8Array(publicVapidKey)
            });

            console.log('Push Registered');

            await fetch('{{path('app_subscribe')}}', {
                method: 'POST',
                body: JSON.stringify(subscription),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            console.log('Push Sent');
        } else {
            console.error('Service Worker or Push Manager not supported in this browser.');
        }
    })

    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/-/g, '+')
            .replace(/_/g, '/');

        const rawData = window.atob(base64);
       return Uint8Array.from([...rawData].map((char) => char.charCodeAt(0)));
    }

</script>

{% endblock %}
